<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1 style="text-align: center"><%= msg%></h1>
    <h2 style="text-align: center"><a href="/user/logout">Logout</a></h2>

    <div class="add-button">
      <a href="/task/add">Add Task</a>
    </div>
    <div class="username" style="text-align: center">
      <h3><a href="/user/profile/<%= user._id%>"><%= user.name %></a></h3>
    </div>
    <section id="task-list">
      <div class="container">
        <div class="tasks">
          <% for(task of tasks) { %>
          <div class="task-box">
            <div class="left">
              <p><%= task.taskName%></p>
            </div>
            <div class="right">
              <a href="/task/delete/<%= task.id%>">Delete</a>
              <a href="/task/edit/<%= task.id%>">Edit</a>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </section>
  </body>
</html>
