<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title><%= title%></title>
  </head>
  <body>
    <section id="login-page">
      <div class="container">
        <div class="main-heading">
          <img
            src="<%= user.avatar %>"
            alt="<%= user.name%>"
            width="100"
            height="100"
          />
          <h2><%= user.name%></h2>
        </div>
        <form
          class="form-box"
          action="/user/update-profile/<%= user._id%>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Name"
              name="name"
              value="<%= user.name%>"
            />
          </div>
          <div class="form-group">
            <label>Profile Picture</label>
            <input type="file" class="form-control" name="avatar" />
          </div>
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-login" />
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
